.cells {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background-color: #A9A9A9;
  border: 1px solid grey;
}

.clear {
  clear: both;
}

 .restart {
   margin-top: 1%;
   border: white;
   font-size: 25px;
   background-color: white;
 }

#timer, #numberOfFlags {
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 25px;
  color: red;
}
